db: "telegram2reddit"
db_host: "localhost"
telegram_token: "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
telegram_dev_chat: "-1001137074864"
sentry: "https://TOP:SECRET@sentry.io/CODE"
reddit:
  user_agent: "Secret:Reddit_user_agent:v01 (by any /u/redditor)"
  client_id: "client_id"
  client_secret: "client_secret"
